.container {
    max-width: 960px;
  }
  
  .jumbotron{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #606163, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#606163, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
.cov-logo{
  width: 100px;
  height: inherit;
}

@media (max-width: 768px) {
  .cov-logo{
    width: 60px;
    height: inherit;
  }
  /* home section */
.home_section{
  margin-top: 45px;
}
}

@media (max-width:900px) and (min-width:466px) {
  .home_section{
    margin-top: 10%;
  }
}
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    /* new */

    .drop_class{
        min-height: 300px;
    }

    .scrollable-menu {
        height: auto;
        max-height: 250px;
        overflow-x: hidden;
    }

    nav{
        position: fixed;
        font-size: 1.2rem;
    }

/* img{
      height: 200px;
      width: auto;
} */

.fa-user-md{
color: rgb(141, 227, 238);
font-size: 5rem;

}
.fa-head-side-mask{
color: white;
}
.mask{
  color: aliceblue;
}

/* covid */
.fw-dark{
  margin-top: 1rem;
}

/* .p_location{
  margin-top:15px;
  background: rgb(141, 141, 141);
  color: rgb(235, 235, 235);
  padding: 3px;
} */

.fa-instagram{
  color: rgb(199, 81, 100);
  font-size: 1.5rem;
  border: 1 solid red;
}
.fa-instagram:hover{
  color: aliceblue;
}

.fa-code{
  color: black;
  font-size: 1.5rem;
}

.fa-code:hover{
  color: #fff;
}

.fa-twitter-square{
  color: rgb(152, 205, 255);
  font-size: 1.7rem;
  border: 1 solid rgb(22, 36, 231);
}

.fa-twitter-square:hover{
  color: aliceblue;
}
.img-thumbnail{
  height: 310px;
}

@media (max-width: 768px) {
  .carousel-caption{
    font-size: 10px;
  }
}

/* 
drop down
 */

.dropbtn {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(207, 238, 166);
  border-radius: 1rem;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}

@media (min-width: 800px) {
  .dropdown{
    top: 50%;
    left: 40%;
    
  }
}

/* covid */

@media (max-width: 800px) {
  .about-web-p{
   font-size: 14px;
  }
  .about-web{
    margin-top: -10px;
  }
}
